# Compiled Bytecode, precompiled output and assembly
*.amx
*.lst
*.asm

# logs
logs/
crashinfo.txt

# open.mp
components/
plugins/
log.txt
omp-server
omp-server.exe

.vscode/
gamemode/
runtime/
.env
.fleet/
.vs/
omp-server.pdb
q   awno/