[submodule "src/SampSharp-streamer"]
	path = src/SampSharp-streamer
	url = git@github.com:duydang2311/SampSharp-streamer.git
	branch = dev
[submodule "src/SampSharp"]
	path = src/SampSharp
	url = git@github.com:duydang2311/SampSharp.git
	branch = dev
